html,body {
  background-color: #333;
  color: #fff;
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12pt;
}

#user-data-form {
  float:left;
  position: absolute;
  text-align: center;
  font-size: 150%;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 0;
  pointer-events: visible;
}

#username-input {
  width: 300px;
  height: 25px;
  font-size: 90%;
  pointer-events: visible;
}

#right-bar {
  float: left;
  width: 300px;
  height: 100%;
  background-color: #3498db;

  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

#gameContainer {
  float:left;
}

#orientation {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/orientation.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    display: none;
}

#ui {
  position: absolute;;
  top: 50%;
  transform: translateY(-50%);
}

#messageInput {
  color: black;
}

.chat-messages {
  height:calc(100% - 100px);;
  font-size: 120%;
  overflow: scroll;
}

.chat-messages li{
  list-style: none
}

.chat-username {
  margin-right: 10px;
}

.chat-form {
  margin: auto;
}

#messageInput {
  width: 250px;
  margin-left: 24px;
}

footer{
    height: 65px;
    width:100%;
}

.center {
  /*position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  width: 60%;*/
  width: 100%;
  text-align: center;
}

.login-form-input {
  margin-bottom: 50px;
  width: 160px;
  height: 40px;
  color: black;
}

.login-form-btn{
  width: 300px !important;
  width: 200px !important;
}
